<form [formGroup]='citiesForm'>
    <mat-form-field style="width: 50%;">
        <input matInput placeholder="Choose a city" [matAutocomplete]="auto" formControlName='userInput'>
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
        <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>
        <ng-container *ngIf="!isLoading">
        <mat-option *ngFor="let city of cities" [value]="city">
            <span>{{city.localizedName}} | {{city.country.localizedName}}</span>
            <small> | ID: {{city.key}}</small>
        </mat-option>
        </ng-container>
    </mat-autocomplete>
</form>